body{
  background: #34ebcc 0%
}
h1{
  text-align: center;
}
a{
    color: dodgerblue;
}
.header{
    display: flex;
}
#homepage{
  color: cadetblue;
  }
  body{
    background-color: paleturquoise;
}
body{
  background-color: paleturquoise;
}